rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /admins/{userId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /menuSemaine/{itemId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /menuCategories/{categoryId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /organigramme/{memberId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /menus/{menuId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /sales/{saleId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /employees/{employeeId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /ranks/{rankId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /salesHistory/{historyId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /bonuses/{bonusId} {
      allow read: if true;
      allow write: if true;
    }
  }
}

